<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <style>
            .subheading {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
        </style>
</head>

<body class="container">
    <header><%- include('../partials/header'); %></header>
    <ul class="list-group">
        <% data.forEach((item,id)=>{ %>
            <li class="list-group-item">
                <h2>
                    <%= item.heading %>
                </h2>
                <div class="subheading" id="sub-<%=id%>">
                    <div>
                    <%=item.content.substr(0,100)%>
                        <% if(item.content.length> 100 ) { %>
                            ...
                            <% } %>
                    </div>    
                    <div>
                        <button>open</button>
                    </div>
                </div>
                <div style="font-size: 0.7rem;font-style: italic;font-weight: 300;">2021-04-02</div>
            </li>
            <% }); %>
    </ul>
<% if(data[0].length===0){%>
    <div style="height: 100vh;width:100vw;display:flex;justify-content:center;align-items:center">
        Empty
    </div>
<%}%>
</body>
</html>