<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <style>
            .subheading {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
        </style>
</head>

<body class="container">
    <header><%- include('../partials/header'); %></header>
    <ul class="list-group">
        <% data.forEach((item,id)=>{ %>
            <li class="list-group-item">
                <h2>
                    <%= item.heading %>
                    <progress id="progress" value="0" max="100" style="width: 100%; display: none;"></progress>
                </h2>
                <div class="subheading" id="sub-<%=item.id%>">
                    <div content="<%=item.content%>">
                        <%=item.content.substr(0,100)%>
                            <% if(item.content.length> 100 ) { %>
                                ...
                                <% } %>
                    </div>
                    <div>
                        <button onclick="handleclick(<%=item.id%>)">Open</button>
                        <button onclick="handleDownload(<%=item.id%>)">Download</button>
                    </div>
                </div>
                <div style="font-size: 0.7rem;font-style: italic;font-weight: 300;">2021-04-02</div>
            </li>
            <% }); %>
    </ul>
    <% if(data.length===0){%>
        <div style="height: 100vh;width:100vw;display:flex;justify-content:center;align-items:center">
            Empty
        </div>
        <%}%>
</body>
<script>
    function handleclick(id) {
        const parent = document.getElementById(`sub-${id}`).getElementsByTagName('div');
        const selectDiv = parent[0]
        const content = selectDiv.getAttribute('content')
        if (selectDiv.innerText.length > 105) {
            selectDiv.innerText = content.slice(0, 100) + "..."
            parent[1].getElementsByTagName('button')[0].innerText = 'open'
            console.log('changed a', selectDiv.innerText)
        }
        else {
            selectDiv.innerText = content;
            parent[1].getElementsByTagName('button')[0].innerText = 'close'
            console.log('changed b', selectDiv.innerText)
        }
    }
    function handleDownload(id) {
        document.getElementById(`sub-${id}`)
        .getElementsByTagName('button')[1]
        .addEventListener('click', () => {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/download/${id}`, true);
            xhr.responseType = 'blob';

            // Show progress bar
            const progressBar = document.getElementById('progress');
            progressBar.style.display = 'block';

            xhr.onprogress = (event) => {
                if (event.lengthComputable) {
                    const percentComplete = (event.loaded / event.total) * 100;
                    console.log('this is the project',percentComplete)
                    progressBar.value = "50";
                }
            };

            xhr.onload = function () {
                if (xhr.status === 200) {
                    const url = URL.createObjectURL(xhr.response);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'largefile.csv';
                    a.click();
                    URL.revokeObjectURL(url);

                    // Hide progress bar
                    setTimeout(()=>{
                        progressBar.style.display = 'none';
                    },1000)
                    
                }
            };

            xhr.send();
        });
    }
</script>

</html>